:root,
:root.light {
  --bgcolor: #f9f9f9;
  --invert: #1f1f1f;
  --fontcolor: #000000;
  --linkcolor: #0000ee;
  --visitedcolor: #551a8b;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bgcolor: #1f1f1f;
    --invert: #f9f9f9;
    --fontcolor: #ffffff;
    --linkcolor: #5bf5bf;
    --visitedcolor: #ae5ee0;
  }
}
:root.dark {
  --bgcolor: #1f1f1f;
  --invert: #f9f9f9;
  --fontcolor: #ffffff;
  --linkcolor: #5bf5bf;
  --visitedcolor: #ae5ee0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}
hr {
  background-color: var(--invert);
  height: 2px;
  border: none;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 80%;
  margin: auto auto;
  color: var(--fontcolor);
  background-color: var(--bgcolor);
}
h2 {
  text-shadow: 1px 1px 1px #000;
}
a:link {
  color: var(--linkcolor);
}
a:visited,a:active {
  color: var(--visitedcolor);
}
